:root {
    color-scheme: light dark;
  }
  
  @media (prefers-color-scheme: dark) {
    body { background: #333; color: white; }
  }
  
  @media (prefers-color-scheme: light) {
    body { background: #ddd; color: black; }
  }

  body {
    font-family: Arial, sans-serif;
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 10px;
}

#historyContainer {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
}
#historyContainer > div {
    margin-bottom: 15px;
    padding: 10px;
}

input , button {
    width: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}


